- name: Retag uploaded image to pipeline
  become: true
  become_user: "{{ aws_ecr_promote_user }}"
  ecr_retag:
    region: "{{ aws_ecr_promote_region }}"
    image: "{{ aws_ecr_promote_image }}"
    from: "change_{{ zuul.change }}"
    to: pipeline_{{ zuul.pipeline }}
  register: aws_ecr_promote
